
.centered-pills { text-align: center }
.centered-pills ul.nav-pills { display: inline-block }
.centered-pills li { display: inline }
.centered-pills a { float: left }
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills { display: inline }

.blue {
  color: navy;
}

img {
  height: 200px;
  width:auto;
  margin: 0px 50px;
  border: solid navy 5px;
  float: left;
  clear: both;
}

h4 {
  margin: 25px 0px 50px 0;
  display: block;
}
