body {
  font-family: 'Lucida Console', sans-serif;
}


.centered-pills { text-align: center }
.centered-pills ul.nav-pills { display: inline-block }
.centered-pills li { display: inline }
.centered-pills a { float: left }
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills { display: inline }

ul {
  list-style-type: none;
}

.blue {
  color: navy;
}

.pic {
  height: 200px;
  float: right;
  width:auto;
  border: solid navy 5px;
}

.intro
{
  margin-top: 50px;
}

.frame {
  background-color: navy;
  color: white;
  height: 300px;
  width: 500px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 25px;
}

.frame img {
  width: 400px;
  height: auto;
}

.twitter {
  height: 64px;
  width: 64px;
}

.section {
  margin: 60px;
}

.section h2 {
  margin-top: 20px;
  text-align: right;
}

.connect ul {
  display: inline-block;
}

.connect li {
  display: inline;
}

.connect a {
  float: left;
}
.connect img {
  margin-left: 25px;
}

.env {
  height: 63px;
  width: 71px;
}
