
.centered-pills { text-align: center }
.centered-pills ul.nav-pills { display: inline-block }
.centered-pills li { display: inline }
.centered-pills a { float: left }
* html .centered-pills ul.nav-pills, *+html .centered-pills ul.nav-pills { display: inline }

.blue {
  color: navy;
}

.pic {
  height: 200px;
  float: right;
  width:auto;
  border: solid navy 5px;
}

.intro
{
  margin-top: 50px;
}

.frame {
  background-color: navy;
  color: white;
  height: 300px;
  width: 500px;
  text-align: center;
  margin-right: 10px;
  margin-bottom: 25px;
}

.frame img {
  width: 400px;
  height: auto;
}

.twitter {
  height: 64px;
  width: 64px;
}
